{{#partial "pagename"}}
    These are the animal sightings.
{{/partial}}

{{#partial "content"}}

    <br><hr>
        {{#if animals}}
            {{#each animals}}
                <ol>
                    <hr>
                    <li style="padding:8px;">{{name}}</li>
                    <ul style="margin:5px;">
                        <li>Date sighted: {{lastSeen}}</li>
                        <br>
                        <a href="/animals/{{id}}"><button class="btn btn-danger"> {{name}} details</button> </a>
                    </ul>
                    <hr>
                </ol>
            {{/each}}
        {{else}}
            <h4> <small> There are no animals sighted yet. <br>
                Be the first to record a sighting! </small> </h4>

            <a href="/homepage"><button class="btn btn-default"> New sighting </button> </a>
        {{/if}}
    <br><hr>
{{/partial}}

{{#partial "buttons"}}
    <a href="/animals/delete"> <button class="btn btn-danger" style="margin:20px;"> Delete All Sightings </button> </a>
    <br>
    <small> (This cannot be un-done) </small>
{{/partial}}

{{>layout.hbs}}