{{#partial "pagename"}}
    {{#if animal}}
        This is the {{species}}'s sightings details.
    {{else}}
        This is the {{species}}'s sightings details.
    {{/if}}
{{/partial}}

{{#partial "content"}}

    <hr>
        <div style="width:150px; height:150px; border-radius:100%; background-color:black">

        </div>
    <hr>
        {{#if animal}}

            <h4> Animal species: {{animal.species}} </h4>
            <ul>
                <li>Time of sighting: {{animal.lastseen}} </li>
                <li>Animal type: {{animal.type}} </li>
                <li>Animal age: {{animal.age}} </li>
                <li>Sighted by: {{sighter1}} </li>
            </ul>

            <br>

            It was sighted in the following area: {{animal.location}}

        {{else}}

            <h4> Animal species: {{endangered.species}} </h4>
            <ul>
                <li>Time of sighting: {{endangered.lastseen}} </li>
                <li>Animal type: {{endangered.type}} </li>
                <li>Animal health: {{endangered.health}} </li>
                <li>Animal age: {{endangered.age}} </li>
                <li>Sighted by: {{sighter2}} </li>
            </ul>

            <br>

            It was sighted in the following area: {{endangered.location}}

        {{/if}}

{{/partial}}

{{#partial "buttons"}}
    {{#if animal}}
    <form action="/animals/{{id}}/delete" method="post">
        <button type="submit" class="btn btn-danger"> Delete {{species}} </button>
    </form>

    {{else}}
        <form action="/animals/{{id}}/delete" method="post">
            <button type="submit" class="btn btn-danger"> Delete {{species}} </button>
        </form>
    {{/if}}
{{/partial}}

{{>layout.hbs}}