{{#partial "pagename"}}
        This is the {{animal.species}}'s sightings details.
{{/partial}}

{{#partial "content"}}

    <hr>
        <div style="width:150px; height:150px; border-radius:100%; background-color:black">

        </div>
    <hr>

            <h4> Animal species: {{animal.species}} </h4>
            <ul>
                <li>Time of sighting: {{animal.lastseen}} </li>
                <li>Animal type: {{animal.type}} </li>
                <li>Animal age: {{animal.age}} </li>
                <li>Sighted by: {{sighter1}} </li>
            </ul>

            <br>

            It was sighted in the following area: {{animal.location}}


{{/partial}}

{{#partial "buttons"}}

    <a href="/animals/{{animal.id}}/delete"> <button type="submit" class="btn btn-danger"> Delete {{animal.species}} </button> </a>

{{/partial}}

{{>layout.hbs}}